---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { formatDate } from '../../utils/formatDate';

const title = 'Blog';
const description = 'Latest articles.';
const permalink = `${Astro.site.href}blog`;

export const prerender = true;
export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection('posts');
  const visiblePosts = allPosts.filter((post) => !post.data.hidden);
  visiblePosts.sort(
    (a, b) =>
      new Date(b.data.publishDate).valueOf() -
      new Date(a.data.publishDate).valueOf()
  );

  return paginate(visiblePosts, { pageSize: 5 });
}

const { page } = Astro.props;

const authors = await getCollection('authors');
function getAuthorName(authorSlug: string) {
  const entry = authors.find((a) => a.id === authorSlug);
  return entry?.data?.name || 'Andrew Erwin';
}
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <div class="container">
    <h2>Blog</h2>
    {
      page.data.map((post, index) => {
        const href = `/blog/${post.data.slug}`;
        return (
          <div>
            {index !== 0 && <hr />}
            <div class="post-item">
              <h3>
                <a href={href}>{post.data.title}</a>
              </h3>
              <p>{post.data.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">
                  — {formatDate(post.data.publishDate)}
                </span>
                <span class="post-item-author">
                  by {getAuthorName(post.data.author)}
                </span>
              </div>
            </div>
          </div>
        );
      })
    }

    <nav class="pagination">
      {page.url.prev && <a href={page.url.prev}>Previous Page</a>}
      {page.url.next && <a href={page.url.next}>Next Page</a>}
    </nav>
  </div>
</BaseLayout>

<style>
  h3,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  .post-item-author {
    color: var(--text-secondary);
    font-style: italic;
    font-weight: 400;
  }

  hr {
    margin: 60px auto;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .pagination a {
    padding: 10px 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-primary);
  }

  .pagination a:hover {
    background-color: var(--accent);
    color: var(--background);
  }
</style>
