---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Blog';
const description = 'Latest articles.';
const permalink = `${Astro.site.href}blog`;

let allPosts = await getCollection('posts')
allPosts = allPosts.sort((a, b) => 
  new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h2>Blog</h2>
    {allPosts.map((post, index) => {
      const href = `/blog/${post.data.slug}`;
      return (
        <div>
          { index !== 0 && <hr /> }
          <div class="post-item">
            <h3>
              <a href={href}>{post.data.title}</a>
            </h3>
            <p>{post.data.description}</p>
            <div class="post-item-footer">
              <span class="post-item-date">— {post.data.publishDate}</span>
            </div>
          </div>
        </div>
      )
    })}
  </div>
</BaseLayout>

<style>
  h1 {
    text-align: center;
    margin-bottom: 1.5em;
  }

  .post-item {
    margin-bottom: 2em;
    padding-bottom: 1.5em;
    border-bottom: 1px dashed var(--border-color);
  }

  .post-item:last-child {
    border-bottom: none;
  }

  .post-item h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }

  .post-item h2 a {
    text-decoration: none;
    color: var(--text-main);
  }

  .post-item h2 a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }

  .post-item p {
    color: var(--text-secondary);
    margin-top: 0.5em;
  }

  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 400; /* Lighter weight */
    font-size: 0.9em;
    color: var(--text-secondary);
    margin-top: 1em;
  }

  .post-item-date {
    text-transform: none; /* Remove uppercase */
    margin-right: 0;
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 3em auto;
    width: 50%;
  }
</style>
