---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const title = 'Andrew the Coder';
const description = 'Software Engineer and Web Developer';
const permalink = Astro.site.href;

const allPosts = await getCollection('posts');
const featuredPosts = allPosts.filter(post => post.data.featured);
featuredPosts.sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());

const latestPosts = featuredPosts.slice(0, 3); // Get the 3 latest posts

const response = await fetch('https://dadjokes.developersandbox.xyz/api/v2/random');
const dadJoke = await response.json();
---

<BaseLayout title={title} description={description} permalink={permalink} current="home">
    <div class="container">
        <div class="flex">
            <div class="px-5">
                <h2>Hi, I'm Andrew.</h2>
                <p>I'm a software engineer and web developer with over 20 years of experience.
                    I enjoy the problem-solving aspect of software development and am always
                    looking for new challenges. I also hold advanced degrees in theology and
                    linguistics, and my major hobby is music (I'm a guitar player).</p>
                <p>You can reach me at <a href="mailto:info@andrewthecoder.com">
                    info@andrewthecoder.com</a> for inquiries or to hire me!</p>
                <p>You can learn more about me in the <a href="/about">about section</a>.</p>
            </div>

            <section class="latest-posts">
                <h3>Latest Blog Posts</h3>
                <ul>
                    {latestPosts.map((post) => (
                    <li>
                        <a href={`/blog/${post.data.slug}`}>{post.data.title}</a>
                        <p>{post.data.description}</p>
                    </li>
                    ))}
                </ul>
                <p><a href="/blog">View all posts &rarr;</a></p>
            </section>
        </div>

        <section class="dad-joke">
            <h3>Random Dad Joke</h3>
            <p>{dadJoke.joke_text}</p>
            <p>Submitted by: {dadJoke.author}</p>
            <p>Instructions for submitting your own dad joke can be found
                <a href="https://dadjokes.developersandbox.xyz" target="_blank">HERE</a>.</p>
        </section>
    </div>
</BaseLayout>
